<div class="backdrop" [ngStyle]="{display: display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{display: display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        aria-label="Close"
                        (click)="onErrorHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ error?.title }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ error?.message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onErrorHandled()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->